  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>Hey Korean!</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li class="drop-down">
            {% if member_no == None %}<a href="">(없음)</a>
            {% else %}<a href="">{{ member_name }}</a>
            {% endif %}
            <ul>
              <li><a href="member_register">회원가입</a></li>
              <li><a href="member_logout">Logout</a></li>
              <li><a href="member_edit">정보수정</a></li>
            </ul>
          </li>
          <li class="get-started"><a href="member_register">로그인</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->